
 body{
    font-family:Arial, Helvetica, sans-serif
    }

   
    
    h1 {
        background-color:black;
        color: white;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding: 20px;
        margin: 0;
    
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .grid {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
    
    .row {
        width: 100%;
        margin-bottom: 20px;
        display: flex; flex-wrap: wrap
    }
    
    .col-4 {
        width: 33.33%;
        padding: 40px;
    }
    
   
    

    